<div class="container">
    <mat-card>
        <mat-card-title> Title	</mat-card-title>
        <img mat-card-image [src]="img"/>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                  <h3>Country: <span class="small">Japan</span></h3>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <h3>Year: <span class="small">2009</span></h3>
                  </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
</div>