<div class="container">
    
    <mat-card *ngIf="car">
        <mat-card-title> {{car.brand}} </mat-card-title>
        <img mat-card-image [src]="car.url"/>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                  <h3>Country: <span class="small">{{car.brand}}</span></h3>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <h3>Year: <span class="small">{{car.year}}</span></h3>
                  </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
</div>