<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter car brand" [(ngModel)]="car.brand" [formControl]="brand" required>
    <mat-error *ngIf="brand.invalid">The brand is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Country" [(value)]="car.country" required [formControl]="country">
        <mat-option value=""></mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-error *ngIf="country.invalid">The country is required</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Enter manifacturing year" [(ngModel)]="car.year" [formControl]="year" required>
      <mat-error *ngIf="year.invalid">This must be valid year</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter car Image URL" [(ngModel)]="car.url" [formControl]="url" required>
    <mat-error *ngIf="url.invalid">The URL must be valid</mat-error>
  </mat-form-field>
 
  <div>
      <button mat-fab matTooltip="Save Car"  class="float blue" (click)="saveCar()"
      [disabled]="!(url.valid && year.valid && country.valid && brand.valid)">
          <mat-icon>save</mat-icon>
      </button>
  </div>
</div>